.contentsContainer {
  min-height: 62vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shoeDetails {
  line-height: 1.3;
  margin-bottom: 4px;
}
